<div class="mflex-row">
    <div class="contacts-contents">
      <img class="contacts" src="../../../../../assets/home/08-25-24-140302.png" alt="">
      <div class="mforms">
        <h1>Únase a nuestro boletín</h1>
        <span>Regístrate para recibir ofertas, nuevos productos y promociones.</span>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail</mat-icon>
          <input matInput id="email" type="email" placeholder="Ejemplo@gmail.com"/>
          <button mat-icon-button matSuffix><mat-icon>send</mat-icon></button>
        </mat-form-field>      
      </div>
    </div>
  </div>
<div class="content">
    <div class="mflex">
        <div class="mflex">
            <h1>Elegant</h1>
        </div>
        <div style="width: 350px;">
            <ul class="menu-list">
                <li>Inicio</li>
                <li>Tienda</li>
                <li>Productos</li>
                <li>Contacto</li>
            </ul>
        </div>
    </div>
    <mat-divider style="background-color: #6C7275;"></mat-divider>
    <br>
    <div class="mflex2">
        <span>
            Copyright © 2024 3legant. All rights reserved
        </span>
    </div>
</div>
